<div class="col-lg-4 ">
  <div class="container comic-thumb">
      <h4>{{comic.series}} #{{comic.issueNo}}</h4>
      <img src={{comic.image}} alt="{{comic.series}}">
    <h5>${{comic.price}}</h5>
  </div>
</div>
