<div class="col-md-3 ">
  <div class="container comic-thumb">
      <h4>{{#link-to 'comic' comic.id}}{{comic.series}}{{/link-to}} #{{comic.issueNo}}</h4>
      {{#link-to 'comic' comic.id}}<img class="thumb" src={{comic.image}} alt="{{comic.series}}">{{/link-to}}
    <h5>${{comic.price}}</h5>
  </div>
</div>
